.btn-start-game {
    color: #332200;
    padding: 1rem;
    background-color: #ffb31a;
    display: block;
    margin: 50px auto;
    width: 8rem;
    font-size: 30px;
    font-weight: 900;
}
.rules-text-container {
    color: #332200;
    height: 500px;
    margin: 0 auto;
    width: 60%;
    padding-top: 10px;
    background-color: bisque;
}
.rules-text-container ol li {
    text-align: left;
    font-size: 30px;
    margin-left: 25%;
    padding: 10px;
}
.home-bg-img {
    padding-top: 150px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Popcorn02.jpg/1200px-Popcorn02.jpg');
}
