nav ul {
    list-style: none;
    padding-left: 0px;
    width: 100ch;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    min-height: 60px;
}
/* @media screen and (max-width: 600px) {
    nav ul {
        justify-content: center;
        background-color: rgb(125, 38, 38);
    }
} */
